Version:

R version 4.1.1(2021-08-10)

Librairies:

factoextra_1.0.7
ca_0.71.1
FactoMineR_2.4
ggrepel_0.9.1
ggwordcloud_0.5.0
ggpubr_0.4.0
ggsci_2.9
reshape2_1.4.4
RColorBrewer_1.1-2
forcats_0.5.1
stringr_1.4.0
purrr_0.3.4
readr_2.0.2
tidyr_1.1.4
tibble_3.1.5
ggplot2_3.3.5
tidyverse_1.3.1
tidytext_0.3.2
dplyr_1.0.7
data.table_1.14.2
